.backlink {
  position: absolute;
  top: 25px;
  left: 40px;
  z-index: 1;
}

.index .backlink {
  display: none;
}

.about-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="about-trigger"] {
  position: absolute;
  top: 25px;
  right: 40px;
  z-index: 4;
  cursor: pointer;
}

label[for="about-trigger"]:after {
  content:"À propos"
}

.about-trigger:checked ~ .about {
  position: relative;
  z-index: 3;
  .panel-about {
    margin: 0;
    opacity: 1.0;
  }
  .overlay {
    opacity: 0.9;
  }
}

.about-trigger:checked ~ label[for="about-trigger"]:after {
  content:"Fermer"
}
