.navbar {
  padding-top: $spacing-l;
  text-align: center;
  ul li {
    list-style: none;
    display: inline-block;
    margin: $spacing-s;
  }
  .next:after {
    content: " →";
  }
  .previous:before {
    content: "← ";
  }
}
