.navbar {
  padding-top: $spacing-l;
  text-align: center;
  ul li {
    list-style: none;
    display: inline-block;
    margin: $spacing-s;
  }
  @media only screen and (max-width: 768px) {
    .home {
      display:none;
    }
  }
}
