.hero {
  text-align: center;
  margin: $spacing-m 0;
}

.sidekick {
  background: $grey-lighter;
  color: $grey;
  padding: 100px 120px;
  @media only screen and (max-width: 992px) {
    padding: 40px 50px;
  }
  h2 {
    color: $grey-dark;
  }
}

.work {
  position: relative;
  margin: 40px 0;
}

.work-info {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: inherit;
  @media only screen and (max-width: 992px) {
    order: 2;
  }
  .caption {
    transition: 0.2s ease all;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
    border: 2px solid $grey-lighter;
    @media only screen and (max-width: 992px) {
      border: none;
      padding-bottom: 0;
    }
    ul {
      flex: none;
      list-style: none;
      font-size: $font-size-s;
    }
  }
}

.work-info:hover {
  color: inherit;
  @media only screen and (min-width: 992px) {
    color: $grey;
    .caption {
      background: $grey-lighter;
    }
    h3 {
      color: $grey-dark;
    }
  }
}

.work-visual {
  align-items: center;
  @media only screen and (max-width: 992px) {
    border: none;
    order: 1;
  }
  img {
    transition: 0.2s ease all;
  }
}

/*.work:nth-child(odd) .work-visual {
  order:1;
}*/

.category {
  position: absolute;
  top: 25%;
  font-size: 7.5em;
  font-family: $head-font;
  font-weight: 900;
  color: $grey-darker;
  text-transform: uppercase;
  letter-spacing: $font-size-m/8;
  @media only screen and (max-width: 992px) {
    display:none;
  }
}

.work-right .category {
  left: 5%;
}

.work-left .category {
  right: 5%;
}
