.hero {
  text-align: center;
  margin: $spacing-m 0;
  position:relative;
  z-index: 1;
}

.sidekick {
  background: $grey-lighter;
  color: $grey;
  padding: 100px 120px 120px 120px;
  @media only screen and (max-width: 1280px) {
    padding: 80px 100px;
  }
  @media only screen and (max-width: 1024px) {
    padding: 40px 50px;
  }
  h2 {
    color: $grey-dark;
  }
}

.work {
  position: relative;
  margin: 40px 0;
}

@media only screen and (min-width: 992px) {
  .work:first-child {
    position: relative;
    margin: 0 0 40px 0;
    .work-info {
      margin-top: 40px;
    }
  }
}

.work-info {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: inherit;
  @media only screen and (max-width: 992px) {
    order: 2;
  }
  .caption {
    transition: 0.2s ease all;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
    border: 2px solid $grey-lighter;
    position: relative;
    @media only screen and (max-width: 992px) {
      border: none;
      padding-bottom: 0;
    }
    ul {
      flex: none;
      list-style: none;
      font-size: $font-size-s;
    }
  }
  .caption:after {
    transition: 0.2s ease all;
    font-size: $font-size-xl;
    color: $grey-dark;
    display: block;
    position: absolute;
    bottom: 0;
    left: 47%;
    opacity: 0.0;
    z-index: 1;
  }
}

.work-info:hover {
  color: inherit;
  @media only screen and (min-width: 992px) {
    color: $grey;
    .caption {
      background: $grey-lighter;
    }
    .caption:after {
      opacity: 1.0;
      bottom: 10%;
    }
    h3 {
      color: $grey-dark;
    }
  }
}

.work-visual {
  align-items: center;
  color: $grey-lighter;
  position: relative;
  @media only screen and (max-width: 992px) {
    order: 1;
    .work-logo {
      display:none;
    }
  }
  .work-logo {
    transition: 0.2s ease all;
    position: absolute;
    width: 94%;
    height: 100%;
    top: 0;
    left: 3%;
    background-color: rgba(34, 34, 38, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.0;
  }
}

.work-visual:hover {
  color: $grey-lighter;
  @media only screen and (min-width: 992px) {
    .work-logo {
      opacity: 1.0;
    }
  }
}

/*.work:nth-child(odd) .work-visual {
  order:1;
}*/

.category {
  position: absolute;
  top: 25%;
  font-size: 7.5em;
  font-family: $head-font;
  font-weight: 900;
  color: $grey-darker;
  text-transform: uppercase;
  letter-spacing: $font-size-m/8;
  @media only screen and (max-width: 992px) {
    display:none;
  }
}

.work-right {
  .caption:after {
    content: "→";
  }
  .category {
    left: 5%;
  }
}

.work-left {
  .caption:after {
    content: "←";
  }
  .category {
    right: 5%;
  }
}
