@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visible {
  animation: fadein 1.0s cubic-bezier(0,0,0,0.8);
  opacity: 1 !important;
}

.b-lazy {
  opacity: 0;
}
.b-lazy.b-loaded {
  animation: fadein 1.0s cubic-bezier(0,0,0,0.8);
  opacity: 1;
}
