<section class="about">

  <div class="panel-about">

    <div class="row">

      <div class="col-xs-12 col-md-4">
        <h2>Parcours</h2>
        <p>Vivamus bibendum ullamcorper nisl at suscipit. Suspendisse laoreet pharetra metus a aliquam. Vestibulum eleifend velit id pulvinar convallis. In aliquet leo in lorem venenatis lobortis. Nam sollicitudin tortor nec tortor rhoncus fringilla. Mauris nulla libero, blandit et leo sed, eleifend venenatis urna.</p>
        <p>Ut at venenatis est. Sed vel mauris tincidunt, sagittis nisl sed, laoreet dui. In semper vehicula arcu. Aliquam commodo lectus quis ligula viverra rhoncus. Vestibulum eget lacinia felis, sit amet auctor ligula.</p>
      </div>

      <div class="col-xs-12 col-md-4">
        <h2>Convictions</h2>
        <p>Vivamus bibendum ullamcorper nisl at suscipit. Suspendisse laoreet pharetra metus a aliquam. Vestibulum eleifend velit id pulvinar convallis. In aliquet leo in lorem venenatis lobortis. Nam sollicitudin tortor nec tortor rhoncus fringilla. Mauris nulla libero, blandit et leo sed, eleifend venenatis urna.</p>
        <p>Ut at venenatis est. Sed vel mauris tincidunt, sagittis nisl sed, laoreet dui. In semper vehicula arcu. Aliquam commodo lectus quis ligula viverra rhoncus. Vestibulum eget lacinia felis, sit amet auctor ligula.</p>
      </div>

      <div class="col-xs-12 col-md-4">
        <h2>Contact</h2>
        <p>Envie de discuter ? D'une bière ? De mon CV ? Je suis joignable par email : <a href="mailto:gsbodpjt.wjmbjsf@gmail.com">gsbodpjt.wjmbjsf@gmail.com</a></p>
      </div>

    </div>
  </div>

  <div class="overlay"></div>

</section>
