<div class="backlink">
  <%= image_tag 'icon-logo.svg', alt: 'François Vilaire' %><a href="/" class="button button-clear">Retour</a>
</div>
<input type="checkbox" id="about-trigger" class="about-trigger" />
<label class="button button-clear" for="about-trigger"></label>
