<section class="navbar">
  <ul>
    <li><%= previous_link(data.tree['works']) %></li>
    <li><a href="/" rel="nofollow" class="button button-outline">Accueil</a></li>
    <li><%= next_link(data.tree['works']) %></li>
  </ul>
</section>
