.works {
  .main:after {
    display: none;
  }
  .hero {
    position: sticky;
    top: 40px;
    margin-bottom: $spacing-l;
    @media only screen and (max-width: 992px) {
      position: relative;
      top: 0;
    }
    &:before,
    &:after {
        content: '';
        display: table;
    }
  }
  .visuals {
    @media only screen and (max-width: 992px) {
      order: 2;
    }
  }
}
