<header class="grid-container">
  <div class="grid-x grid-margin-x">
    <nav class="large-12 cell top-bar">
      <a href="/" class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16"><rect x="2" y="7" width="5" height="1" class="icon"/><path d="M2 11.5V8H1v4.5h1V15H1v1h7v-1H7v-2.5h1V8H7v3.5H2zM4 15H3v-2.5h1V15zM6 15H5v-2.5h1V15z" class="icon"/><rect x="3" y="4" width="1" height="1" class="icon"/><rect x="5" y="4" width="1" height="1" class="icon"/><polygon points="8 4 8 1 7 1 7 0 2 0 2 1 1 1 1 4 0 4 0 5 1 5 1 7 2 7 2 2 7 2 7 7 8 7 8 5 9 5 9 4 " class="icon"/></svg>&nbsp;
        François Vilaire
      </a>
    </nav>
  </div>
</header>
