<div class="grid-container">

  <div class="grid-x grid-margin-x grid-margin-y hero">
    <div class="xlarge-8 cell">
      <h1>{{title}}</h1>
      <p class="lead">
        {{intro}}
      </p>
      <p>
        {{text}}
      </p>
      <ul class="no-bullet">
        <li><strong>Fonctions :</strong> {{function}}</li>
        <li><strong>Contexte :</strong> {{context}}</li>
      </ul>
      <p>
        <a href="{{link}}" class="secondary button" rel="nofollow">Visiter le site</a>
      </p>
    </div>
  </div>

</div>

<div class="grid-container">

  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="xlarge-12 cell text-center project-image">
      <img src="{{image01}}" alt="{{alt01}}">
    </div>
    <div class="large-12 cell text-center project-image">
      <img src="{{image02}}" alt="{{alt02}}">
    </div>
    <div class="large-6 cell text-center project-image">
      <img src="{{image03}}" alt="{{alt03}}">
    </div>
    <div class="large-6 cell text-center project-image">
      <img src="{{image04}}" alt="{{alt04}}">
    </div>
    <div class="large-12 cell text-center project-image">
      <a href="/" class="primary large button">Retour au portfolio</a>
    </div>
  </div>

</div>
