---
title: "Home"
---
<div class="hero">
  <h1>Gsbodpjt Wjmbjsf</h1>
  <p class="text-baseline">Designer au service des internets depuis l'an 2007. Bienvenue sur ce portfolio</p>
  <p class="text-default"><%= link_to "Des travaux ? C'est plus bas &#8595;", "#" %></p>
</div>
