---
title: "Home"
---
<div class="row">
  <div class="hero col-sm-12 col-lg-6">
    <h1>Gsbodpjt Wjmbjsf</h1>
    <p class="text-lead">Designer au service des internets depuis l'an 2007. Bienvenue sur ce portfolio</p>
    <p class="text-default"><%= link_to "Des travaux ? C'est plus bas &#8595;", "#" %></p>
  </div>
</div>
